div.translation-text {
  font-size: 1em;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important;
  white-space: pre;

  margin-top: 5px;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  padding-left: 10px;
}