.gradle/
bin/
dist/
build/
.DS_Store
proguard.map
.idea/
lib/iiq/*.jar
.classpath
.project
.settings
**/node_modules/
**/*.js.map
QueryPlugin/ui/js/app/*.js
QueryPlugin/ui/js/app/**/*.js
QueryPlugin/ui/.angular
