
.options-container {
    margin-top: 10px;
    border-top: 1px solid #ccc;
    padding-top: 5px;

    .form-group {
        margin-bottom: 5px;
    }
}

div.queryInputError {
    animation: Shake 0.3s;

    select {
        border: 1px solid red;
    }
}

/*Using keyframes for shaking an image*/
@keyframes Shake {
    0% {
        transform: rotate(5deg);
    }

    25% {
        transform: rotate(-6deg);
    }

    50% {
        transform: rotate(5deg);
    }

    75% {
        transform: rotate(-6deg);
    }

    100% {
        transform: rotate(5deg);
    }
}

#extraOptions {
    border: 1px solid #ddd;
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
    background: #eee;
}

.row.extra-options-toggle button {
    padding: 0;
}

.glyphicon-chevron-right {
    transform: rotate(0deg);
    transition: transform 0.3s linear;
}

.glyphicon-chevron-right.toggle-open {
    transform: rotate(90deg);
    transition: transform 0.3s linear;
}