<div class="editor container-fluid">
    <div class="row">
        <div class="col-md-12">
            <app-codemirror-editor [queryType]="queryType()" [lastEditorState]="lastEditorState()" (codeUpdated)="onCodeUpdated($event)" class="code-editor-container" #codemirrorEditor></app-codemirror-editor>
        </div>
    </div>
    <div class="row">
        <editor-buttons class="col-md-4" [queryType]="queryType()" (executeQuery)="executeQuery()" (clearQuery)="clearQuery()" (executeTranslate)="executeTranslate()"></editor-buttons>
    </div>
    <div class="row options-container">
        <div class="col-md-3">
            <div class="form-group" [ngClass]="{'queryInputError': errorField() === 'queryType'}">
                <label for="selectQueryType">Type:</label>
                <select id="selectQueryType" class="form-control" [(ngModel)]="queryType" (ngModelChange)="onQueryTypeChange($event)">
                    <option value="SQL">SQL (primary schema)</option>
                    <option value="SQLPlugin">SQL (plugin schema)</option>
                    <option value="SQLAccessHistory">SQL (access history)</option>
                    <option value="HQL">HQL</option>
                    <option value="Filter">Filter</option>
                    <option value="XMLFilter">XML Filter</option>
                    @if (state.configuration().privileges.queryApplications && state.configuration().applications.length > 0) {
                        <option value="Application">Application</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="rowLimit">Row Limit:</label>
                <input id="rowLimit" type="number" class="form-control" [(ngModel)]="rowLimit" min="1" max="10000" placeholder="200">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group" [ngClass]="{'queryInputError': errorField() === 'queryClass'}">
                <label for="selectQueryClass">Filter Class:</label>
                <select id="selectQueryClass" class="form-control" [(ngModel)]="queryClass" [disabled]="queryType() !== 'Filter' && queryType() !== 'XMLFilter'">
                    <option value="Application">Application</option>
                    <option value="AuditEvent">AuditEvent</option>
                    <option value="Bundle">Bundle</option>
                    <option value="Certification">Certification</option>
                    <option value="CertificationEntity">CertificationEntity</option>
                    <option value="CertificationItem">CertificationItem</option>
                    <option value="Identity">Identity</option>
                    <option value="IdentityRequest">IdentityRequest</option>
                    <option value="Link">Link</option>
                    <option value="ManagedAttribute">ManagedAttribute</option>
                    <option value="PolicyViolation">PolicyViolation</option>
                    <option value="Rule">Rule</option>
                    <option value="SyslogEvent">SyslogEvent</option>
                    <option value="TaskDefinition">TaskDefinition</option>
                    <option value="TaskResult">TaskResult</option>
                    <option value="Workflow">Workflow</option>
                    <option value="WorkflowCase">WorkflowCase</option>
                    <option value="WorkItem">WorkItem</option>

                </select>
            </div>
        </div>
        <div class="col-md-3">
            @if (state.configuration().privileges.queryApplications && state.configuration().applications.length > 0) {
            <div class="form-group" [ngClass]="{'queryInputError': errorField() === 'application'}">
                <label for="applicationSelect">Application:</label>
                <select id="applicationSelect" class="form-control" [(ngModel)]="application" [disabled]="queryType() !== 'Application'">
                    @for (app of applications(); track app) {
                        <option [value]="app">{{app}}</option>
                    }
                </select>
            </div>
            }
        </div>
    </div>
    <div #extraOptionsToggle class="row extra-options-toggle">
        <div class="col-md-3">
            <button class="btn btn-sm btn-link" (click)="toggleSignal(this.extraOptions)" aria-controls="extraOptions" [attr.aria-expanded]="extraOptions()">
                <span>
                    <i class="glyphicon glyphicon-chevron-right" [ngClass]="{'toggle-open': extraOptions()}"></i>
                </span>
                <span>More options</span>
            </button>
        </div>
    </div>
    @if (extraOptions()) {
        <div id="extraOptions" aria-live="polite" animate.enter="fade-in" animate.leave="fade-out">
            <div class="checkbox">
                <label>
                    <input type="checkbox" [(ngModel)]="state.appendResults"> Append results to existing table
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" [(ngModel)]="state.appendTimestampColumn"> Append timestamp to results
                </label>
            </div>
        </div>
    }
</div>