@use "@ng-select/ng-select/themes/default.theme.css" as *;

div.cm-editor, div.cm-gutter, div.cm-content {
  height: 100%;
  font-size: 1em;
}

div.cm-line {
  font-size: 1em;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important;

  span {
    font-size: 1em;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important;
  }
}

/* Define the pulse animation */
@keyframes pulseGreen {
  0%   { background-color: #d4edda; }  /* light green */
  25%  { background-color: #72e889; }  /* brighter */
  100% { background-color: #d4edda; }  /* back */
}

/* Class to trigger the animation */
.pulse-green {
  animation: pulseGreen 0.3s ease-in-out;
}


.idwqpHighlight {
  background-color: violet;
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
}
