<table id="idwQueryPluginResultsTable" class="table table-striped">
    <thead>
        @for (item of columns(); track item) {
            <th>
                <div class="header">{{item}}</div>
                <div class="filter">
                    <input type="text" class="form-control" [ngModel]="filters()[item]" (ngModelChange)="updateFilter(item, $event)" />
                </div>
            </th>
        }
    </thead>
    <tbody>
        @for (row of pageContents(); track row) {
            <tr class="idwQueryPluginResultsTableRow">
                @for (item of columns(); track item) {
                    <td class="idwQueryPluginResultsTableCell" [ngClass]="{item: true}">
                        @if (row[item] !== undefined) {
                            {{row[item]}}
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<ngb-pagination [(page)]="pageIndex"
                [pageSize]="pageSize"
                [collectionSize]="filteredRows().length || 0" />
