$border_color: #aaa;

$horizontal_rule_color: adjust-color($border_color, $lightness: +10%);

$no-results-color: #ffc16c;
$no-results-border-color: adjust-color($no-results-color, $lightness: -20%);

@keyframes slide-fade {
    from {
        opacity: 0;
        width: 5rem;
    }
    to {
        opacity: 1;
        width: 33rem;
    }
}

@keyframes slide-fade-out {
    to {
        opacity: 0;
        width: 5rem;
    }
    from {
        opacity: 1;
        width: 33rem;
    }
}

div.idwQueryPluginResultsPanelBody {
    display: flex;
}

div.displayOptionsContainer {
    height: fit-content;
    width: 33rem;

    padding: 5px;
    border: 1px solid $horizontal_rule_color;

    background: #eee;
}

div.displayOptions {
    width: 30rem;
    height: fit-content;
}

.slide-fade {
    animation: slide-fade 0.2s ease-in;
    overflow-x: hidden;
}

.slide-fade-out {
    animation: slide-fade-out 0.2s ease-out;
    overflow-x: hidden;
}

div.idwQueryPluginResultsTableContainer {
  overflow-x: scroll;
  width: 100%;

  div.no-results {
    font-size: 110%;
    color: #333333;
    background-color: $no-results-color;
    border-radius: 2px;
    border: 1px solid color $no-results-border-color;
    border-left: 5px solid $no-results-border-color;
    margin-bottom: 5px;
    padding: 5px 5px 5px 2rem;
  }

  div.all-results-filtered {
    font-size: 130%;
    color: #883333;
    padding: 5px;
    margin-bottom: 5px;
  }

  padding-bottom: 1em;
}

table.idwQueryPluginResultsTable {
  width: fit-content;

  thead {
    border-top: 1px solid $border_color;

    div {
      margin: 0;
      padding-left: 0;
      min-height: 0 !important;
    }
  }

  th, td {
    min-width: 100px;
    border: 1px solid $border_color;

    .header {
      font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important;
      font-weight: bold;
      font-size: 120%;
    }

    .idwQueryPluginResultsTableCell {
      font-size: 1.1em;
    }
  }
}

td.filterCell {
  padding: 0;

  div {
    padding: 0;

    input {
      border: none;
    }
  }
}

.filter {
  input {
    border: 1px solid #ccc;
  }
}

div.resultsMetadata {
  p {
    line-height: 1em;
  }
}

div.exportButtons {
    float: right;
}

div.resultsTableFooter {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

div.columnsListHeader {
    button {
        font-size: 1em;
        font-variant: all-small-caps;
    }
}

div.columnsList {
    border: 1px solid $border_color;
    border-radius: 5px;
    padding: 5px;
}

div.inputFilter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid $horizontal_rule_color;

    * {
        height: 2rem;
        font-size: 1rem;
        display: inline-block;
    }

    .inputFilterButtonContainer {
        width: 100%;
        display: flex;
        justify-content: end;

        button {
            padding: 3px;
            margin-right: 0.2rem;
        }
    }
}

div.columnCheckboxes {
    column-count: 3;

    div.checkbox {
        margin-top: unset;
    }

    div.highlighted {
        label {
            background: #ffff8c;
        }
    }
}
