<div class="row m-t">
    <div style="padding:10px" class="panel" id="idwQueryPluginMain">
        <uib-accordion close-others="false">
            <div uib-accordion-group="true" class="panel-default query-panel" is-open="true">
                <uib-accordion-heading>
                    <span class="fa fa-search"></span>&nbsp;Query
                </uib-accordion-heading>
                <div ui-codemirror="{ onLoad : onCodeMirrorLoad }" ng-model="$ctrl.query" ui-codemirror-opts="editorOptions"></div>
                <div style="margin-top:5px; margin-bottom:5px" class="container">
                    <div class="row justify-content-start">
                        <div class="col-md-5">
                            <div>
                                <button class="btn btn-primary" ng-disabled="submitting || $ctrl.query.length == 0" ng-click="$ctrl.submitQuery()">
                                    <span ng-show="!submitting"><i class="glyphicon glyphicon-play"></i></span>
                                    <span ng-show="submitting"><i class="glyphicon glyphicon-refresh spinning"></i></span>
                                    Run Query
                                </button>
                                |
                                <button class="btn btn-white" ng-disabled="!($ctrl.type == 'HQL' || $ctrl.type == 'Filter' || $ctrl.type == 'XMLFilter') || submitting" ng-click="$ctrl.getFilterHql()" title="Translate filter">
                                    <i class="glyphicon glyphicon-transfer"></i>
                                </button>
                                <button class="btn btn-white" ng-disabled="submitting" ng-click="$ctrl.showFilterModal()" title="Load existing filter">
                                    <i class="glyphicon glyphicon-open"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-addon">Query type</div>
                                <select ng-model="$ctrl.type" class="form-control">
                                    <option value="HQL">HQL</option>
                                    <option value="SQL">SQL (IIQ database)</option>
                                    <option value="SQLPlugin">SQL (plugin database)</option>
                                    <option value="SQLAccessHistory">SQL (8.4+ access history)</option>
                                    <option value="Filter">IIQ Filter</option>
                                    <option value="XMLFilter">IIQ Filter in XML</option>
                                    <option ng-if="applications.length > 0" value="Application">IIQ Application</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <div class="input-group-addon">Limit</div>
                                <input type="number" class="form-control" ng-model="$ctrl.limitResults"/>
                            </div>
                            <div class="input-group" ng-if="$ctrl.type == 'Application'">
                                <div class="input-group-addon">Application</div>
                                <select ng-model="$ctrl.applicationName" class="form-control">
                                    <option ng-repeat="app in applications" ng-value="app">{{app}}</option>
                                </select>
                            </div>
                            <div class="input-group" ng-if="$ctrl.type == 'Filter' || $ctrl.type == 'XMLFilter'">
                                <div class="input-group-addon">Query class</div>
                                <select ng-model="$ctrl.queryClass" class="form-control">
                                    <option value="Application">Application</option>
                                    <option value="AuditEvent">AuditEvent</option>
                                    <option value="Bundle">Bundle</option>
                                    <option value="Certification">Certification</option>
                                    <option value="CertificationEntity">CertificationEntity</option>
                                    <option value="CertificationItem">CertificationItem</option>
                                    <option value="Identity">Identity</option>
                                    <option value="IdentityRequest">IdentityRequest</option>
                                    <option value="Link">Link</option>
                                    <option value="ManagedAttribute">ManagedAttribute</option>
                                    <option value="Rule">Rule</option>
                                    <option value="SyslogEvent">SyslogEvent</option>
                                    <option value="TaskDefinition">TaskDefinition</option>
                                    <option value="TaskResult">TaskResult</option>
                                    <option value="Workflow">Workflow</option>
                                    <option value="WorkflowCase">WorkflowCase</option>
                                    <option value="WorkItem">WorkItem</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div uib-accordion-group="true" class="panel-default results-panel" is-open="resultselem.open">
                <uib-accordion-heading>
                    <span class="fa fa-table"></span>&nbsp;Results
                </uib-accordion-heading>
                <div class="alert alert-danger" role="alert" ng-show="$ctrl.errorBanner" ng-cloak="true">
                    {{$ctrl.errorBanner}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="alert alert-info" role="alert" ng-show="$ctrl.infoBanner" ng-cloak="true">
                    {{$ctrl.infoBanner}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div ng-if="$ctrl.queryResult" ng-cloak="true" class="hql-result-pane">
                    <div class="hql-result-selector" ng-if="querySql || queryFilter">
                        <p class="lead">Filter Translation</p>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="$ctrl.queryShowWhich" value="HQL"/>
                                HQL
                            </label>
                        </div>
                        <div class="radio" ng-if="querySql">
                            <label>
                                <input type="radio" ng-model="$ctrl.queryShowWhich" value="SQL"/>
                                SQL
                            </label>
                        </div>
                        <div class="radio" ng-if="queryFilter">
                            <label>
                                <input type="radio" ng-model="$ctrl.queryShowWhich" value="Filter"/>
                                Filter string
                            </label>
                        </div>
                        <div class="radio" ng-if="queryXmlFilter">
                            <label>
                                <input type="radio" ng-model="$ctrl.queryShowWhich" value="XMLFilter"/>
                                Filter XML
                            </label>
                        </div>
                    </div>
                    <div oncopy="handleHideCopy(this);" class="hql-result" ng-show="$ctrl.queryShowWhich == 'HQL'">
                        <p class="query" ng-bind-html="$ctrl.queryResult"/>
                    </div>
                    <div oncopy="handleHideCopy(this);" class="sql-result" ng-show="$ctrl.queryShowWhich == 'SQL'">
                        <p class="query" ng-bind-html="querySql"/>
                    </div>
                    <div class="filter-result" ng-show="$ctrl.queryShowWhich == 'Filter'">
                        <p class="query">{{queryFilter}}</p>
                    </div>
                    <div class="xmlfilter-result" ng-show="$ctrl.queryShowWhich == 'XMLFilter'">
                        <p class="query">{{queryXmlFilter}}</p>
                    </div>
                    <div class="hql-params" ng-show="queryParams">
                        <p class="lead">Query parameters</p>
                        <table class="table table-boredered table-striped">
                            <tr>
                                <th>Parameter</th>
                                <th>Value</th>
                            </tr>
                            <tr ng-repeat="(key, value) in queryParams">
                                <td>{{key}}</td>
                                <td>{{value}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div ng-if="$ctrl.cols.length" ng-cloak="true">
                    <button class="btn btn-link" ng-csv="$ctrl.data" csv-header="$ctrl.columnNames" filename="results.csv"><span class="glyphicon glyphicon-save"></span>Export to CSV</button>
                    <div class="resultTable table-responsive">
                        <table ng-table-dynamic="tableParams with $ctrl.cols" show-filter="true" class="table table-bordered table-striped">
                            <tr ng-repeat="row in $data">
                                <td ng-repeat="col in $columns">{{row[col.field]}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="resultHostLabel">
                        Host: {{$ctrl.host}}
                    </div>
                </div>
            </div>
            <div uib-accordion-group="true" class="panel-default results-panel" is-open="historyelem.open">
                <uib-accordion-heading>
                    <span class="fa fa-history"></span>&nbsp;Query History
                </uib-accordion-heading>
                <div ng-if="historyelem.open" ng-cloak="true">
                    <div class="alert alert-info"><span class="glyphicon glyphicon-time"></span> <span style="font-weight:bold">This is your local execution history.</span> Click the pencil icon to load it into the editor.</div>
                    <table class="table table-hover" style="width:100%">
                        <thead>
                        <tr>
                            <th style="width:75px"></th>
                            <th style="width:100px">Type</th>
                            <th>Query</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in $ctrl.getHistoryItems() | reverse" >
                            <td style="text-align:center; vertical-align: middle; font-size:150%;" ng-click="$ctrl.restoreHistory(item)"><span role="button" style="font-size: 120%" class="glyphicon glyphicon-pencil" aria-label="Edit this row"></span></td>
                            <td>{{item.type}}</td>
                            <td>{{item.query | limit:300}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </uib-accordion>
    </div>
</div>
