$error-response-color: #f1b9b9;
$error-response-color-border: adjust-color($error-response-color, $lightness: -30%, $saturation: +20%);

div.results-error {
    font-size: 110%;
    color: #222222;
    background-color: $error-response-color;
    border-radius: 2px;
    border: 1px solid color $error-response-color-border;
    border-left: 5px solid $error-response-color-border;
    margin-bottom: 5px;
    padding: 5px 5px 5px 2rem;
}
